body{
	font-size: 18px;
	font-family: Century Gothic;
}
@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }
    .card {
      padding:0;
      margin:0;
    }
    .row {
      padding:0;
      margin:0;
    }
    body {
      padding:0;
    }
    .card-body {
      padding:0;
      margin:0;
    }
    .col-12 {
      padding:0;
      margin:0;
    }
        .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}